@model  MvcBootcamp.Entities.Concrete.Category

@{
    ViewBag.Title = "Mvc Bootcamp V.1.1";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel" style="padding:10px 10px 10px 10px;">

            @using (Html.BeginForm("Add", "PanelCategory", FormMethod.Post))
            {
                <div style="width:100%;height:auto;background:white;padding:10px 0 10px 0;margin-bottom:3px;border-radius:3px;">

                    <button class="btn btn-success" style="float:right;"><i class="fa fa-save"></i> Kaydet</button>
                    <div style="clear:both;"></div>
                    <hr style="border:1px solid #d3d3d3;" />
                </div>


                @Html.AntiForgeryToken();

                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @style = "margin-top:10px;", @placeholder = "Kategori Adı" });
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" });

                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @style = "margin-top:10px;height:100px;resize:none", @Maxlength = "100", @placeholder = "Açıklama" });
                @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" });

                <h3>Durum</h3>
                @Html.RadioButtonFor(x => x.Status, "True", new { @checked = "True" });<label style="margin:0 15px 0 5px;">AKTİF</label>
                @Html.RadioButtonFor(x => x.Status, "False");<label style="margin:0 0 0 5px;" id="Passive">PASİF</label>


            }
        </div>
    </div>
</div>

