@model MvcBootcamp.Entities.Concrete.Category
@{
    ViewBag.Title = "Mvc Bootcamp V.1.1";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="row mt">
    <div class="col-md-12">
        <div class="content-panel" style="padding:10px 10px 10px 10px;">

            @using (Html.BeginForm("Update", "PanelCategory", FormMethod.Post))
            {
                <div style="width:100%;height:auto;background:white;padding:10px 0 10px 0;margin-bottom:3px;border-radius:3px;">

                    <button class="btn btn-success" style="float:right;"><i class="fa fa-save"></i> Kaydet</button>
                    <div style="clear:both;"></div>
                    <hr style="border:1px solid #d3d3d3;" />
                </div>


                @Html.AntiForgeryToken();

                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @style = "margin-top:10px;", @placeholder = "Kategori Adı" });
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" });

                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @style = "margin-top:10px;height:100px;resize:none", @Maxlength = "100", @placeholder = "Açıklama" });
                @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger", @id = "Description" });
                <h3>Durum</h3>
                @Html.DropDownListFor(x => x.Status, new List<SelectListItem>
           {
                    new SelectListItem{

                        Text="Aktif",
                        Value="True"
                    },
               new SelectListItem{
                   Text="Pasif",
                   Value="False"
               }
           }, "--Seçiniz--", new { @class = "form-control" });

            }
        </div>
    </div>
</div>

@section Ckeditor{

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("Description");
    </script>
}
