@model  MvcBootcamp.Entities.Concrete.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add New Category</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
</head>
<body>
    <div style="margin:20px 400px 0 400px;">
        
        @using (Html.BeginForm("Add", "Category", FormMethod.Post))
        {
            @Html.AntiForgeryToken();

            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @style = "margin-top:10px;", @placeholder = "Name" });
            @Html.ValidationMessageFor(x => x.Name, null, new {@class="text-danger" });

            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @style = "margin-top:10px;", @placeholder = "Description" });
            @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" });

            <button style="margin-top:20px;" class="btn btn-success">Add</button>
        }
    </div>
</body>
</html>
