@model  MvcBootcamp.Entities.Concrete.Author

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="row mt">
    <div class="col-md-12">
        <div class="page-content">
            @using (Html.BeginForm("Add", "PanelAuthor", FormMethod.Post))
            {
                <div class="page-content-header">

                    <i class="fa fa-list icon-margin"></i> <span>YAZAR EKLE</span>
                    <button class="btn btn-success btn-xs" style="float:right;margin-top:0;border:1px solid #d3d3d3;"><i class="fa fa-save"></i> Kaydet</button>
                </div>
                <div style="clear:both;"></div>
                <div class="content-panel" style="padding:10px 10px 10px 10px;">

                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        @Html.TextBoxFor(x => x.Nickname, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Nickname, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>E-Mail</label>
                        @Html.TextBoxFor(x => x.EMail, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.EMail, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Şifre</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control",@type="Password" })
                        @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>Kullanıcı Tipi</label>
                        @Html.DropDownListFor(x => x.UserLevelId,(List<SelectListItem>)ViewBag.UserLevel,"--Seçiniz--", new { @class = "form-control"})
                        @Html.ValidationMessageFor(x => x.UserLevelId, null, new { @class = "text-danger" })
                    </div>
                    
                    <div class="form-group">
                        <label>Durum</label>
                        @Html.DropDownListFor(x => x.IsActive, new List<SelectListItem> {
                             new SelectListItem {
                                Text="Aktif",
                                Value="true",
                                Selected = true, 
                                // Disabled = true  disable olarak gelsin istersek kullanıyoruz
                             },
                             new SelectListItem {
                                Text="Pasif",
                                Value="false",
                             }}, "--Seçiniz--", new { @class = "form-control", @style = "margin-top:10px;", @Required = "required" })

                    </div>
                </div>
            }
        </div>

    </div>
</div>


