@using MvcBootcamp.Entities.DTOs;
@model List<AuthorDetailDto>
@{
    ViewBag.Title = "Mvc Bootcamp V.1.1";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<div class="row mt">
    <div class="col-md-12">
        <div class="page-content">
            <div class="page-content-header">
                <i class="fa fa-list icon-margin"></i> <span>YAZARLAR</span>
            </div>
            <div class="content-panel" style="padding:10px 10px 10px 10px;">

                <div style="width:100%;height:auto;background:white;padding:10px 0 10px 0;margin-bottom:3px;border-radius:3px;">
                    <a href="/PanelAuthor/Add" class="btn btn-primary" style="float:right;"><i class="fa fa-plus"></i> Yeni Yazar</a>
                    <button class="btn btn-pdf"><i class="fa fa-file-pdf-o" style="color:#d9534f;"></i> Pdf</button>
                    <button class="btn btn-excel"><i class="fa fa-file-excel-o " style="color:#5cb85c;"></i> Excel</button>
                    <button class="btn btn-print"><i class="fa fa-print" style="color:black;"></i> Yazdır</button>

                    <button id="RemoveSelected" class="btn btn-danger" style="float:left;display:none;margin-right:10px;"><i class="fa fa-trash-o icon-margin"></i> Seçilenleri Sil</button>

                    <div class="fast-filter">
                        <input type="text" placeholder="Hızlı Filtreleme" />
                        <button type="submit">Ara</button>
                    </div>

                    <div class="clear"></div>

                </div>
                @foreach (var item in Model)
                {
                    <div class="user-panel">
                        <!-- WHITE PANEL - TOP USER -->
                        <div class="white-panel pn">
                            <div class="white-header">
                                <h5 style="float:left;">
                                    <b>@item.AuthorName</b>

                                </h5><button class="btn btn-default btn-xs" style="float:right;margin-top:5px;"><i class="fa fa-cog icon-margin" style="color:black;"></i>Düzenle</button>
                                <div class="clear"></div>
                            </div>
                            <p><img src="~/Content/img/bg-avatar.png" class="img-circle" width="50"></p>
                            <p>
                                @*@item.AuthorAbout*@
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="small mt">KAYIT TARİHİ</p>
                                    <p>@item.AuthorRegister.ToLongDateString()</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="small mt">SON GİRİŞ TARİHİ</p>
                                    <p>
                                        @if (item.AuthorLastLogin != null)
                                        {
                                            @item.AuthorLastLogin.ToLongDateString()
                                        }
                                    </p>
                                </div>
                            </div>
                            <div class="last">

                                <button class="btn btn-sm btn-xs" style="width:80px;outline:none;">@item.AuthorLevel</button>

                                @if (item.AuthorIsActive)
                                {
                                    <button id="@item.AuthorId" class="btn btn-success btn-xs btnStatusAuthor" style="width:70px;">Aktif</button>
                                }
                                else
                                {
                                    <button id="@item.AuthorId" class="btn btn-danger btn-xs btnStatusAuthor" style="width:70px;">Pasif</button>
                                }
                                <a href="#" class="btn btn-default btn-xs" style="width:70px;"><i class="fa fa-pencil icon-margin" style="color:black;"></i>Yazılar</a>
                            </div>
                        </div>
                    </div><!-- /user-panel -->
                }
                <div class="clear"></div>
            </div><!-- /content-panel -->
        </div><!-- /page-content -->
    </div><!-- /col-md-12 -->
</div><!-- /row -->

@section SweetAlert{

    <link href="~/Content/css/sweet-alert/sweet-alert.css" rel="stylesheet" />
}

@section OperationScripts{

    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/web-operation/web-operation.js"></script>
}