@using MvcBootcamp.Entities.DTOs
@model List<ContentDetailDto>

@{
    ViewBag.Title = "Headline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right">
    @foreach (var item in Model)
    {
        <h3 style="margin-left:5%;">@item.HeadlineName</h3>
        <article>

            <p>@item.ContentText</p>

            <div class="tags">
                <p class="date">
                    @item.CreationDate.ToShortDateString()
                    @item.CreationDate.ToShortTimeString()
                    ~ <a href="/yazar/@item.AuthorName"> <span>@item.AuthorName</span></a>
                </p>

            </div>
        </article>
    }

</div>

