@using MvcBootcamp.Entities.DTOs
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<ContentDetailDto>

@{
    ViewBag.Title = "Headline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="right">

    <h3 style="margin-left:5%;">
        @ViewBag.HeadlineName
        @if (Session["ActiveUser"] != null)
        {
            <a href="/yeni-entry/@ViewBag.HeadlineSeoUrl" class="btn btn-xs btn-primary"><i class="fa fa-plus icon-margin"></i>Yazı ekle</a>
        }
    </h3>

    @foreach (var item in Model)
    {

        <article>

            <p>@Html.Raw(@item.ContentText)</p>

            <div class="tags">
                <p class="date">
                    @item.CreationDate.ToShortDateString()
                    @item.CreationDate.ToShortTimeString()
                    ~ <a href="/yazar/@item.AuthorName"> <span>@item.AuthorName</span></a>
                </p>

            </div>
        </article>
    }

    <div style="margin-left:5%; color:white;">
        @Html.PagedListPager((IPagedList)Model, p => Url.Action("Headline", new { p }))
    </div>

</div>

