
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="@ViewBag.Author">
    <meta name="keyword" content="@ViewBag.Keyword">

    <title>MVC BOOTCAMP V.1.1</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style-responsive.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-fullcalendar.css" rel="stylesheet">

    @RenderSection("HomePageCss", false)
    @RenderSection("SweetAlert", false)

</head>

<body>

    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg" style="background:#424a5d;border-style:none;">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" style="color:white;" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="#" class="logo"><b>Mvc Bootcamp V.1.1</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- inbox dropdown start-->
                    @Html.Action("MessageCount", "PanelMessage")
                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>


            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    @if (@Session["ActiveUserName"] != null)
                    {
                        <li>
                            <div style="border-radius:5px;margin-top:15px;margin-right:15px;color:white;border:1px solid grey;padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;">
                                <a href="/" style="text-decoration:none;color:white;"> <i class="fa fa-eye icon-margin" style="font-size: 14px;"></i> Siteye Git</a>
                            </div>
                        </li>
                        <li>
                            <div style="border-radius:5px;margin-top:15px;margin-right:15px;color:white;border:1px solid grey;padding-top:5px;padding-bottom:5px;padding-left:15px;padding-right:15px;">
                                <i class="fa fa-user icon-margin" ></i> Merhaba, <span style="font-weight:bold;">@Session["ActiveUserName"].ToString()</span>
                            </div>
                        </li>
                        <li><button onclick="window.location.href='/cikis'" class="logout"><i class="fa fa-power-off icon-margin" style="font-size:14px;"></i>Güvenli çıkış</button></li>
                    }

                </ul>
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->

        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    @*<p class="centered"><a href="#"><img src="~/Content/img/ui-zac.jpg" class="img-circle" width="60"></a></p>
                        <h5 class="centered">Admin</h5>*@

                    <li class="mt">
                        <a href="/panel">
                            <i class="fa fa-dashboard"></i>
                            <span>Gösterge Paneli</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/skill">
                            <i class="fa fa-bookmark"></i>
                            <span>Yetenek Kartı</span>
                        </a>
                    </li>

                    <li class="sub-menu">
                        <a href="/category">
                            <i class="fa fa-th"></i>
                            <span>Kategoriler</span>
                        </a>

                    </li>

                    <li class="sub-menu">
                        <a href="/headline">
                            <i class="fa fa-header"></i>
                            <span>Başlıklar</span>
                        </a>

                    </li>
                    <li class="sub-menu">
                        <a href="/author">
                            <i class="fa fa-user"></i>
                            <span>Yazarlar</span>
                        </a>

                    </li>

                    <li class="sub-menu">
                        <a href="/contents">
                            <i class="fa fa-pencil-square-o"></i>
                            <span>Yazılar</span>
                        </a>

                    </li>

                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper site-min-height">

                <div class="row mt">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>

            </section><! --/wrapper -->
        </section>
        <!-- /MAIN CONTENT -->
        <!--main content end-->
        <!--footer start-->
        @*<footer class="site-footer">
                <div class="text-center">
                    <span style="margin-top:10px;"> Copyright © 2021 Tüm Hakları Saklıdır</span>
                    <a href="#" class="go-top">
                        <i class="fa fa-angle-up"></i>
                    </a>
                </div>
            </footer>*@
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="~/Scripts/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js"></script>
    <script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>

    @RenderSection("HomePageScripts", false)
    @RenderSection("OperationScripts", false)
    @RenderSection("Ckeditor", false)
    @RenderSection("Skill", false)

    <!--common script for all pages-->
    <script src="~/Scripts/common-scripts.js"></script>

    <script>
        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

    </script>


</body>
</html>

